<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msticketwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://ticketswebapi.azurewebsites.net</MSDeployServiceURL>
    <DeployIisAppPath>msticketwebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msticketwebapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicketDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y05tvub2qo.database.windows.net,1433;Initial Catalog=ticketdb;Persist Security Info=False;User ID=saranyac@y05tvub2qo;Password=Enter321" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:iqc81fl4ja.database.windows.net,1433;Initial Catalog=ticketdb;Persist Security Info=False;User ID=saranyac@iqc81fl4ja;Password=Enter321" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=False;User ID=saranyac@iqc81fl4ja;Password=Enter321;Initial Catalog=ticketdb;Data Source=tcp:iqc81fl4ja.database.windows.net,1433" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y05tvub2qo.database.windows.net,1433;Initial Catalog=ticketdb;Persist Security Info=False;User ID=saranyac@y05tvub2qo;Password=Enter321</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>