<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ticketswebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ticketswebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ticketswebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ticketswebapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TicketDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:iqc81fl4ja.database.windows.net,1433;Initial Catalog=ticketdb;Persist Security Info=False;User ID=saranyac@iqc81fl4ja;Password=Enter321" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.3.71;Initial Catalog=TicketDB;Persist Security Info=False;User ID=sa;Password=Enter789" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TicketDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=False;User ID=sa;Password=Enter789;Initial Catalog=TicketDB;Data Source=192.168.3.71" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TicketDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iqc81fl4ja.database.windows.net,1433;Initial Catalog=ticketdb;Persist Security Info=False;User ID=saranyac@iqc81fl4ja;Password=Enter321</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>