<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {
            background: url('../Style/images/loginbg.jpg'); background-size: cover;
        }
        /*.loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../../Style/images/page-loader.gif') 50% 50% no-repeat #fff;
            display: none;
        }*/
    </style>
</head>

    <body ng-app="ticketApp" ng-controller="loginController" class="logincover">
        <div class="loader"></div>
        <header id="loginheader">
            <div class="transparency">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Ticket Prediction</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="loginbody">
            <div class="run progressoverlay" id="progressoverlay" style="display:none;"></div>
            <div class="progressbox alertbox" id="progressbox" style="top:-220px;">
                <div>
                    <img src="../Style/images/ld1.gif" />
                </div>
                <div>
                    <h1 style="text-align:center">Fetching data...</h1>
                </div>
            </div>
            <form name="form" novalidate>
                <!-- <label class="col-sm-2 control-label">Email:</label> -->
                <div class="col-sm-12">
                    <input type="email" id="inputUsername" name="email" ng-model="login.email" required placeholder="Email">
                    <div ng-show="form.$submitted || form.email.$touched">
                        <span style="color:red" ng-show="form.email.$invalid">
                            <span ng-show="form.email.$error.required">Enter your Email</span>
                            <span ng-show="form.email.$error.email">Not a valid email </span>
                        </span>
                    </div>
                </div>


                <div class="form-group col-md-12">
                    <!-- <label class="col-sm-2 control-label">Password:</label> -->
                    <div class="">
                        <input type="password" id="inputPassword" name="password" ng-model="login.password" ng-maxlength="8" required placeholder="Password">
                        <div ng-show="form.$submitted || form.password.$touched">
                            <span style="color:red" ng-show="form.password.$invalid">
                                <span ng-show="form.password.$error.required">Enter Password</span>
                            </span>
                            <span>{{loginError}}</span>
                        </div>
                    </div>
                </div>
                <div class="loginbtn col-md-12">
                    <button class="btn btn-success" ng-disabled="form.email.$invalid ||form.password.$invalid" ng-click="login(login)">
                        Login
                    </button>
                   
                </div>
            </form>
        </div>
    </body>
</html>
