<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-Frame-Options" content="allow"> 
    <title>Ticket Prediction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!--<script src="../app.js"></script>
    <script src="../Module/ticketmodule.js"></script>
    <script src="../Controller/ticketcontroller.js"></script>
    <script src="../Service/ticketservice.js"></script>
    <script src="../Directive/ticketdirective.js"></script>
    <script src="../Common/restservice.js"></script>
    <script src="../Common/htmlConstants.js"></script>
    <script src="../config.js"></script>-->
    <script>
        $(document).ready(function () {
            $(document).click(function () {
                $('.table-striped th').removeClass('activelist');
                $('.filterMenu').css({ "border-top": "0", "border-left": "0px solid #ddd", "border-right": "0px solid #ddd", "border-bottom": "2px solid #ddd" });
                $('.table-striped th').css({ "border-top": "0px solid #ddd", "border-left": "0px solid #ddd", "border-right": "0px solid #ddd" });
            });
            $('.table-striped th .filtericon').click(function (e) {
                e.stopPropagation();
                if ($(this).parent().hasClass("activelist")) {              
                    $('.table-striped th').removeClass('activelist');
                    $('.filterMenu').css({ "border-top": "0", "border-left": "0px solid #ddd", "border-right": "0px solid #ddd", "border-bottom": "2px solid #ddd" });
                    $('.table-striped th').css({ "border-top": "0px solid #ddd", "border-left": "0px solid #ddd", "border-right": "0px solid #ddd" });

                }
                else {
                    $('.table-striped th').removeClass('activelist');
                    $(this).parent().addClass('activelist');
                    $('.activelist').css({ "border-top": "2px solid #ddd", "border-left": "2px solid #ddd", "border-right": "2px solid #ddd" });
                    $('.filterMenu').css({ "border-top": "0", "border-left": "2px solid #ddd", "border-right": "2px solid #ddd", "border-bottom": "2px solid #ddd" });        
                }
            });

            $(document).on('click', '.table-striped th ul li', function () {
                if ($(this).hasClass("filterall")) {
                    $(this).closest('th').find('.filtericon').removeClass('filterselected');
                }
                else {
                    $(this).closest('th').find('.filtericon').addClass('filterselected');
                }
            });
            $(document).on('click', '.clearfilter', function () {
                $('.table-striped th').find('.filtericon').removeClass('filterselected');
            });
            $(document).on('click', '.clearresfilter', function () {
                $('.table-striped th').find('.filtericon').removeClass('filterselected');
            });
            $
        });

    </script>
   <style>
       .logoBar .logo {
           display: none !important;
       }
      
   </style>

</head>
<body  ng-app="ticketApp" ng-controller="ticketController" style="background-color:#EAEAEA;">   
    <!--{{htmlConstants.reporturl}}-->
    <div id="bodyContent" >
        <header>
            <div class="transparency">
                <div class="container-fluid">
                    <div class="row headerblock">
                        <div class="col-md-3">
                            <h1>Ticket Prediction</h1>
                        </div>
                        <div id="headerDiv">
                            <ul class="menu_ul list-unstyled" role="tablist">
                                <li id="actTab" role="presentation" class="active" ng-click="getResolvedTicket(1)">
                                    <a href="javascript:void(0)" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-level-up" aria-hidden="true"></i>Active Tickets</span></a>
                                </li>
                                <li id="resTab" role="presentation" ng-click="getResolvedTicket(0)" ng-show="showDemo"><a href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fa fa-check" aria-hidden="true"></i>Resolved Tickets</span></a></li>
                                <li id="repTab" role="presentation" ng-click="showiFrame()">
                                    <a href="javascript:void(0)" aria-controls="messages" role="tab" data-toggle="tab"><span><i class="fa fa-bar-chart" aria-hidden="true"></i>Reports</span></a>
                                </li>
                            </ul>
                        </div>
                        <div id="buttonsection">
                                <button id="progress" class="activator btn btn-success" ng-disabled="showGenerate" ng-click="generateticket()"><i class="fa fa-bolt" aria-hidden="true"></i>Simulate Tickets</button>
                                <button class="activator btn btn-success" ng-disabled="showNLP" ng-click="getPredictTicket()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Run NLP Analytics</button>
                                <a ng-show="showUpload" ng-disabled="disUpload" title="Download Sample Template" class="activator dwldtemp btn btn-success" href="../App/Template/SampleTemplate.xlsx"><img src="../Style/images/TemplateIcon.png" /><!--<i class="fa fa-file" aria-hidden="true">--></i></a>
                                <button ng-show="showUpload" title="Upload Template" ng-disabled="disUpload" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <button ng-show="showUpload" ng-disabled="disUpload" title="Guidelines for Upload Excel" type="button" class="btn infobtn btn-success" data-toggle="modal" data-target="#myInfo">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                                <button class="activator btn btn-success" ng-show="showDemo" ng-click="resetDemo()"><i class="fa fa-trash" aria-hidden="true"></i>Reset Demo</button>
                            <button class="powerbtn" title="logout" ng-click="logout()"><i class="fa fa-power-off" aria-hidden="true"></i></button>
                            </div>
                        <div class="namediv">
                            <span>{{username}}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div ng-show="showFrame" style="height:575px;overflow:hidden;">
            <button class="reportBtn"  ng-click="showReport()"><i class="fa fa-eye" aria-hidden="true"></i><span>View in Power BI</span></button>
            <iframe id="reportFrame" width="100%" height="600" frameborder="0" src="https://app.powerbi.com/view?r=eyJrIjoiODA3NDFiNmUtZjRhNi00MzU3LWI0NGQtYWY5MjVjNzVhMTg5IiwidCI6ImE4ZTVkNTcxLTQzZTgtNGMzYy05NmJlLTM0NDE1NmNmNjg4NyIsImMiOjZ9" allowfullscreen="true"></iframe>
            <!--<iframe id="reportFrame" width="100%" height="600" ng-show="showFrame" src="https://app.powerbi.com/view?r=eyJrIjoiOGRkYTZkYWItMjU4MC00YzIyLTk0NzAtZWVkZTJiZTkwOWNmIiwidCI6ImE4ZTVkNTcxLTQzZTgtNGMzYy05NmJlLTM0NDE1NmNmNjg4NyIsImMiOjZ9" frameborder="0" allowfullscreen="true"></iframe>-->

        </div>
        <!--<iframe src="https://www.google.co.in/#gfe_rd=cr&gws_rd=ssl" ng-show="showFrame"></iframe>-->
        <div class="run progressoverlay" id="progressoverlay" style="display:none;"></div>
        <div class="progressbox alertbox" id="progressbox" style="top:-220px;">
            <div>
                <img src="../Style/images/ld1.gif" />
            </div>
            <div>
                <h1 style="text-align:center">Fetching data...</h1>
            </div>
        </div>
        <div class="container-fluid tab_container alertbox">
            <div id="predictionDiv" class="pull-right predictionProgress" style="top:-220px;">

                <div>
                    <img src="../Style/images/ld1.gif" />
                </div>
                <div>
                    <h1 style="text-align:center">Prediction in progress...</h1>
                </div>
            </div>
            <div id="progressComplete" class="pull-right progressComplete boxclose" style="top:-220px;">
                <h1>{{actionCount}} Prediction {{predictstatus}} successfully</h1>
                <div class="completedStatus">
                    <p>{{predictedTicketCount}} out of {{openTicket + predictedTicketCount}} tickets predicted</p>
                </div>
                <div>
                </div>
            </div>
            <div class="gridLandingarea">

                <!-- Tab panes -->
                <div class="tab-content">
                    <div  role="tabpanel" class="tab-pane active">
                        <div class="tab-headerBody" ng-show="showHeader">
                            <div class=" menu_panel">

                                <h1 ng-show="showTktDet">All Open Tickets</h1>
                                <p ng-show="showTktDet" class="duration">{{dateRange}}</p>
                                <!--Upload Section-->
                                <div class="modal fade upload_dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input id="uploadFile" placeholder="File" disabled="disabled" ng-model="batchFile"/>
                                                <div class="fileUpload btn btn-warning">
                                                    <span>Upload</span>
                                                    <input id="uploadBtn" name="Device File" type="file" class="upload" custom-on-change="uploadFile" />                                                 
                                                </div>
                                                <br />
                                                <span id="lblError" style="color: red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Upload Section--> 
                                <!--Info Section-->
                                <div class="modal fade upload_dialog info_dialog" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Guidelines For Uploading Excel</h4>
                                            </div>
                                            <div class="modal-body">
                                                <ul>                                                  
                                                    <li>
                                                       Download sample template by clicking <img src="../Style/images/TemplateIcon.png" style="height:30px;width:25px"/>icon.
                                                    </li>
                                                    <li>
                                                       Do not change the order of header in sample template.
                                                    </li>
                                                    <li>
                                                       Make sure atleast one record to be filled. 
                                                    </li>
                                                    <li>
                                                       Avoid having empty rows/records between the records.
                                                    </li>
                                                    <li>
                                                       Ticket Number is mandatory. Any record without ticket number will be excluded for prediction.
                                                    </li>
                                                    <li>
                                                        Created Date should be in "mm/dd/yyyy" format.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Info Section-->                               
                                <button data-toggle="collapse" ng-show="showFilter" ng-click="filterGrid('','ClearAll')" class="btn btn-danger clearfilter">
                                    Clear Filter <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <div class="clickon" ng-show="showprogComplete">
                                    <span id="spanclick">
                                        <i class="fa fa-eject popicon fa-eject-out" aria-hidden="true"></i>
                                        <div class="indication_block">
                                            <div>
                                                <h3>Choose confidence level!</h3>
                                            </div>

                                            <div range-slider min="1" max="100" model-min="sliderValue.min" model-max="sliderValue.max"></div>
                                            <div class="popup_btns">
                                                <button class="btn btn-warning" id="activator" ng-click="updateTicket(1,(ticketListData | filter:{ISCHECKED: true }).length)" class="activator">Accept</button>
                                                <button class="btn btn-warning" ng-click="updateTicket(0,(ticketListData | filter:{ISCHECKED: true }).length)">Reject</button>
                                            </div>
                                            <div class="range_indicators">
                                                <span>{{sliderValue.min}}% to {{sliderValue.max}}%</span>
                                                <span>{{ (ticketListData | filter:{ISCHECKED: true }).length }} ticket(s) selected!</span>
                                            </div>
                                        </div>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <!-- Active Tickets Section-->
                        <div id="noActive" ng-show="!showTktDet && ticketListData !== null" align="center">
                            <h1 style="margin-top:183px !important;"><b>No active tickets found !</b></h1>
                        </div>
                        <div class="tableblock" ng-show="showTktDet">
                            <table class="table table-striped active_table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='TICKET_NUMBER'; reverseSort = !reverseSort">
                                                Ticket # <span ng-show="orderByField == 'TICKET_NUMBER'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_DETAIL'; reverseSort = !reverseSort">
                                                Problem Detail <span ng-show="orderByField == 'PROBLEM_DETAIL'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                            <i class="filtericon"></i><br />
                                            <ul class="filterMenu">
                                                <li class="filterall" ng-click="filterGrid('','PROBLEM_DETAIL')">All</li>
                                                <li ng-repeat="tkt in filteredtktListData|unique:'PROBLEM_DETAIL' | orderBy:'PROBLEM_DETAIL'" ng-click="filterGrid(tkt.PROBLEM_DETAIL,'PROBLEM_DETAIL')">
                                                    {{tkt.PROBLEM_DETAIL}}
                                                </li>
                                            </ul>

                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='SEVERITY'; reverseSort = !reverseSort">
                                                Severity <span ng-show="orderByField == 'SEVERITY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                            <i class="filtericon"></i><br />
                                            <ul class="filterMenu">
                                                <li class="filterall" ng-click="filterGrid('','SEVERITY')">All</li>
                                                <li ng-repeat="tkt in filteredtktListData|unique:'SEVERITY' | orderBy:'SEVERITY'" ng-click="filterGrid(tkt.SEVERITY,'SEVERITY')">
                                                    {{tkt.SEVERITY}}
                                                </li>
                                            </ul>

                                        </th>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='CREATE_DATE'; reverseSort = !reverseSort">
                                                Created Date <span ng-show="orderByField == 'CREATE_DATE'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                        </th>
                                        <th>

                                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_CATEGORY'; reverseSort = !reverseSort">
                                                Problem Category <span ng-show="orderByField == 'PROBLEM_CATEGORY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                            <i class="filtericon"></i><br />
                                            <ul class="filterMenu">
                                                <li class="filterall" ng-click="filterGrid('','PROBLEM_CATEGORY')">All</li>
                                                <li ng-repeat=" tkt in filteredtktListData|unique:'PROBLEM_CATEGORY' | orderBy:'PROBLEM_CATEGORY'" ng-click="filterGrid(tkt.PROBLEM_CATEGORY,'PROBLEM_CATEGORY')">
                                                    {{tkt.PROBLEM_CATEGORY}}
                                                </li>
                                            </ul>
                                        </th>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_SUBCATEGORY'; reverseSort = !reverseSort">
                                                Problem Sub Category <span ng-show="orderByField == 'PROBLEM_SUBCATEGORY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                            <i class="filtericon"></i><br />
                                            <ul class="filterMenu">
                                                <li class="filterall" ng-click="filterGrid('','PROBLEM_SUBCATEGORY')">All</li>
                                                <li ng-repeat=" tkt in filteredtktListData|unique:'PROBLEM_SUBCATEGORY' | orderBy:'PROBLEM_SUBCATEGORY'" ng-click="filterGrid(tkt.PROBLEM_SUBCATEGORY,'PROBLEM_SUBCATEGORY')">
                                                    {{tkt.PROBLEM_SUBCATEGORY}}
                                                </li>
                                            </ul>
                                        </th>
                                        <th>
                                            <a href="javascript:void(0)" ng-click="orderByField='EQ_REGION'; reverseSort = !reverseSort">
                                                Region <span ng-show="orderByField == 'EQ_REGION'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                            <i class="filtericon"></i><br />
                                            <ul class="filterMenu" style="left: -2px;">
                                                <li class="filterall" ng-click="filterGrid('','EQ_REGION')">All</li>
                                                <li ng-repeat=" tkt in filteredtktListData|unique:'EQ_REGION' | orderBy:'EQ_REGION'" ng-click="filterGrid(tkt.EQ_REGION,'EQ_REGION')">
                                                    {{tkt.EQ_REGION}}
                                                </li>
                                            </ul>
                                        </th>
                                        <th ng-show="showNLPRow">

                                            <a href="javascript:void(0)" ng-click="orderByField='CONFIDENCE_LEVEL'; reverseSort = !reverseSort">
                                                Confidence Level (%)
                                                <span ng-show="orderByField == 'CONFIDENCE_LEVEL'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                        </th>
                                        <th ng-show="showNLPRow">
                                            <a href="javascript:void(0)" ng-click="orderByField='RESOLUTION_TYPE'; reverseSort = !reverseSort">
                                                Prediction Resolution Type
                                                <span ng-show="orderByField == 'RESOLUTION_TYPE'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                        </th>
                                        <th ng-show="showNLPRow">
                                            <a href="javascript:void(0)" ng-click="orderByField='RESOLUTION'; reverseSort = !reverseSort">
                                                Prediction Resolution
                                                <span ng-show="orderByField == 'RESOLUTION'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{'success': Tkt.ISCHECKED==true && Tkt.CONFIDENCE_LEVEL>0 ,'warning': Tkt.CONFIDENCE_LEVEL>0 && Tkt.ISCHECKED==false}" ng-repeat="Tkt in ticketListData|orderBy:orderByField:reverseSort | rangeFilter:sliderValue">

                                        <td class="tooltiplink">
                                            <span data-toggle="modal" data-target="#{{Tkt.TICKET_NUMBER}}">
                                                {{Tkt.TICKET_NUMBER}}
                                            </span>

                                            <div id="{{Tkt.TICKET_NUMBER}}" class="modal fade modalbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2>Ticket Number : <strong>{{Tkt.TICKET_NUMBER}}</strong></h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--<div class="ticketshortdesc">
                                                <h2>Ticket Number : <strong>{{Tkt.TICKET_NUMBER}}</strong></h2>
                                            </div>-->
                                                            <table class="ticket_table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            Severity
                                                                        </td>
                                       

                                        <td>{{Tkt.SEVERITY}}</td>
                                    </tr>
                                    <tr>
                                        <td>Customer Affect</td>
                                        <td>{{Tkt.CUST_AFFECT}}</td>
                                    </tr>
                                    <tr>
                                        <td>Equipment Id</td>
                                        <td>{{Tkt.EQUIPMENT_ID}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ops District</td>
                                        <td><div highlight="Tkt.OPS_DISTRICT" keywords="Tkt.KEY_SIGNALS">{{Tkt.OPS_DISTRICT}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Problem Category</td>
                                        <td><div highlight="Tkt.PROBLEM_CATEGORY" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_CATEGORY}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Problem Sub Category</td>
                                        <td><div highlight="Tkt.PROBLEM_SUBCATEGORY" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_SUBCATEGORY}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Problem Detail</td>
                                        <td><div highlight="Tkt.PROBLEM_DETAIL" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_DETAIL}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Assigned To</td>
                                        <td><div highlight="Tkt.ASSIGNED_TO" keywords="Tkt.KEY_SIGNALS">{{Tkt.ASSIGNED_TO}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Assigned District Sub Dept</td>
                                        <td><div highlight="Tkt.ASSIGNED_DISTRICT_SUB_DEPT" keywords="Tkt.KEY_SIGNALS">{{Tkt.ASSIGNED_DISTRICT_SUB_DEPT}}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Submitted By</td>
                                        <td><div highlight="Tkt.SUBMITTED_BY" keywords="Tkt.KEY_SIGNALS">{{Tkt.SUBMITTED_BY}}</div></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="ticketshortdesc">
                                <h2>Short Description</h2>
                                <p><div highlight="Tkt.SHORT_DESCRIPTION" keywords="Tkt.KEY_SIGNALS">{{Tkt.SHORT_DESCRIPTION}}</div></p>
                            </div>
                            <div class="tickethistroy">
                                <h2>Ticket History</h2>
                                <p><pre highlight="Tkt.CLOB_FIELD_VALUE" keywords="Tkt.KEY_SIGNALS">{{Tkt.CLOB_FIELD_VALUE}}</pre></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </td>

            <td><span>{{Tkt.PROBLEM_DETAIL}}</span></td>
            <td>{{Tkt.TICKET_STATUS}}</td>
            <td class="center">{{Tkt.SEVERITY}}</td>
            <td>{{Tkt.CREATE_DATE | date:'MM/dd/yyyy'}}</td>
            <!--td>No Data</td>-->
            <td>{{Tkt.PROBLEM_CATEGORY}}</td>
            <td>{{Tkt.PROBLEM_SUBCATEGORY}}</td>
            <td>{{Tkt.EQ_REGION}}</td>

            <td align="center" ng-show="showNLPRow">{{Tkt.CONFIDENCE_LEVEL}}</td>
            <td ng-show="showNLPRow"><span>{{Tkt.RESOLUTION_TYPE}}</span></td>
            <td ng-show="showNLPRow"><span>{{Tkt.RESOLUTION}}</span></td>

            </tr>
            </tbody>
            </table>
        </div>
                    </div>
                    <!-- Resolved Tickets Section-->
    <div role="tabpanel" class="tab-pane active  alertbox">
        <div id="noResolved" ng-show="!showResolvedDet && showResolvedDet !== null" align="center">
            <h1 style="margin-top:220px !important;"><b>No resolved tickets found ! </b></h1>
        </div>

        <button style="margin: 20px 0;" class="btn btn-danger clearfilter" data-toggle="collapse" ng-show="showResFilter" ng-click="filterResolveGrid('','ClearAll')">
            Clear filter <i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <div class="tableblock" style="margin-top:-20px;" ng-show="showResolvedDet">
            <table class="table table-striped active_table">
                <thead>
                    <tr>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='TICKET_NUMBER'; reverseSort = !reverseSort">
                                Ticket # <span ng-show="orderByField == 'TICKET_NUMBER'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_DETAIL'; reverseSort = !reverseSort">
                                Problem Detail <span ng-show="orderByField == 'PROBLEM_DETAIL'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                            <i class="filtericon"></i><br />
                            <ul class="filterMenu">
                                <li class="filterall" ng-click="filterResolveGrid('','PROBLEM_DETAIL')">All</li>
                                <li ng-repeat="tkt in filteredResListData|unique:'PROBLEM_DETAIL' | orderBy:'PROBLEM_DETAIL'" ng-click="filterResolveGrid(tkt.PROBLEM_DETAIL,'PROBLEM_DETAIL')">
                                    {{tkt.PROBLEM_DETAIL}}
                                </li>
                            </ul>

                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='SEVERITY'; reverseSort = !reverseSort">
                                Severity <span ng-show="orderByField == 'SEVERITY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                            <i class="filtericon"></i><br />
                            <ul class="filterMenu">
                                <li class="filterall" ng-click="filterResolveGrid('','SEVERITY')">All</li>
                                <li ng-repeat="tkt in filteredResListData|unique:'SEVERITY' | orderBy:'SEVERITY'" ng-click="filterResolveGrid(tkt.SEVERITY,'SEVERITY')">
                                    {{tkt.SEVERITY}}
                                </li>
                            </ul>

                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='CREATE_DATE'; reverseSort = !reverseSort">
                                Created Date <span ng-show="orderByField == 'CREATE_DATE'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                        </th>
                        <th>

                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_CATEGORY'; reverseSort = !reverseSort">
                                Problem Category <span ng-show="orderByField == 'PROBLEM_CATEGORY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                            <i class="filtericon"></i><br />
                            <ul class="filterMenu">
                                <li class="filterall" ng-click="filterResolveGrid('','PROBLEM_CATEGORY')">All</li>
                                <li ng-repeat=" tkt in filteredResListData|unique:'PROBLEM_CATEGORY' | orderBy:'PROBLEM_CATEGORY'" ng-click="filterResolveGrid(tkt.PROBLEM_CATEGORY,'PROBLEM_CATEGORY')">
                                    {{tkt.PROBLEM_CATEGORY}}
                                </li>
                            </ul>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='PROBLEM_SUBCATEGORY'; reverseSort = !reverseSort">
                                Problem Sub Category <span ng-show="orderByField == 'PROBLEM_SUBCATEGORY'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                            <i class="filtericon"></i><br />
                            <ul class="filterMenu">
                                <li class="filterall" ng-click="filterResolveGrid('','PROBLEM_SUBCATEGORY')">All</li>
                                <li ng-repeat=" tkt in filteredResListData|unique:'PROBLEM_SUBCATEGORY' | orderBy:'PROBLEM_SUBCATEGORY'" ng-click="filterResolveGrid(tkt.PROBLEM_SUBCATEGORY,'PROBLEM_SUBCATEGORY')">
                                    {{tkt.PROBLEM_SUBCATEGORY}}
                                </li>
                            </ul>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='EQ_REGION'; reverseSort = !reverseSort">
                                Region <span ng-show="orderByField == 'EQ_REGION'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                            <i class="filtericon"></i><br />
                            <ul class="filterMenu">
                                <li class="filterall" ng-click="filterResolveGrid('','EQ_REGION')">All</li>
                                <li ng-repeat=" tkt in filteredResListData|unique:'EQ_REGION' | orderBy:'EQ_REGION'" ng-click="filterResolveGrid(tkt.EQ_REGION,'EQ_REGION')">
                                    {{tkt.EQ_REGION}}
                                </li>
                            </ul>
                        </th>
                        <th>

                            <a href="javascript:void(0)" ng-click="orderByField='CONFIDENCE_LEVEL'; reverseSort = !reverseSort">
                                Confidence Level (%)
                                <span ng-show="orderByField == 'CONFIDENCE_LEVEL'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='RESOLUTION_TYPE'; reverseSort = !reverseSort">
                                Prediction Resolution Type
                                <span ng-show="orderByField == 'RESOLUTION_TYPE'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" ng-click="orderByField='RESOLUTION'; reverseSort = !reverseSort">
                                Prediction Resolution
                                <span ng-show="orderByField == 'RESOLUTION'"><span ng-show="!reverseSort"><img src="../Style/images/sortup.png" /></span><span ng-show="reverseSort"><img src="../Style/images/sortdown.png" /></span></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active" ng-repeat="Tkt in resolvedticketData|orderBy:orderByField:reverseSort">
                        <td class="tooltiplink">
                            <span data-toggle="modal" data-target="#{{Tkt.TICKET_NUMBER}}">
                                {{Tkt.TICKET_NUMBER}}
                            </span>

                            <div id="{{Tkt.TICKET_NUMBER}}" class="modal fade modalbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2>Ticket Number : <strong>{{Tkt.TICKET_NUMBER}}</strong></h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="ticket_table">
                                                <tbody>
                                                    <tr>
                                                        <td>Severity</td>
                                                        <td>{{Tkt.SEVERITY}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Customer Affect</td>
                                                        <td>{{Tkt.CUST_AFFECT}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Equipment Id</td>
                                                        <td>{{Tkt.EQUIPMENT_ID}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ops District</td>
                                                        <td><div highlight="Tkt.OPS_DISTRICT" keywords="Tkt.KEY_SIGNALS">{{Tkt.OPS_DISTRICT}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Problem Category</td>
                                                        <td><div highlight="Tkt.PROBLEM_CATEGORY" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_CATEGORY}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Problem Sub Category</td>
                                                        <td><div highlight="Tkt.PROBLEM_SUBCATEGORY" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_SUBCATEGORY}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Problem Detail</td>
                                                        <td><div highlight="Tkt.PROBLEM_DETAIL" keywords="Tkt.KEY_SIGNALS">{{Tkt.PROBLEM_DETAIL}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Assigned To</td>
                                                        <td><div highlight="Tkt.ASSIGNED_TO" keywords="Tkt.KEY_SIGNALS">{{Tkt.ASSIGNED_TO}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Assigned District Sub Dept</td>
                                                        <td><div highlight="Tkt.ASSIGNED_DISTRICT_SUB_DEPT" keywords="Tkt.KEY_SIGNALS">{{Tkt.ASSIGNED_DISTRICT_SUB_DEPT}}</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Submitted By</td>
                                                        <td><div highlight="Tkt.SUBMITTED_BY" keywords="Tkt.KEY_SIGNALS">{{Tkt.SUBMITTED_BY}}</div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="ticketshortdesc">
                                                <h2>Short Description</h2>
                                                <p><div highlight="Tkt.SHORT_DESCRIPTION" keywords="Tkt.KEY_SIGNALS">{{Tkt.SHORT_DESCRIPTION}}</div></p>
                                            </div>
                                            <div class="tickethistroy">
                                                <h2>Ticket History</h2>
                                                <p><pre highlight="Tkt.CLOB_FIELD_VALUE" keywords="Tkt.KEY_SIGNALS">{{Tkt.CLOB_FIELD_VALUE}}</pre></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td><span>{{Tkt.PROBLEM_DETAIL}}</span></td>
                        <td><p>{{Tkt.TICKET_STATUS}}</p></td>
                        <td class="center"><p>{{Tkt.SEVERITY}}</p></td>
                        <td><p>{{Tkt.CREATE_DATE}}</p></td>
                        <!--td>No Data</td>-->
                        <td><p>{{Tkt.PROBLEM_CATEGORY}}</p></td>
                        <td><p>{{Tkt.PROBLEM_SUBCATEGORY}}</p></td>
                        <td>{{Tkt.EQ_REGION}}</td>
                        <td class="center"><p>{{Tkt.CONFIDENCE_LEVEL}}</p></td>
                        <td><span>{{Tkt.RESOLUTION_TYPE}}</span></td>
                        <td><span>{{Tkt.RESOLUTION}}</span></td>

                    </tr>;
                </tbody>
            </table>
        </div>
    </div>
                </div>
            </div>

        </div>
     
    </div>
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".popicon").click(function () {
            if ($(".clickon i").hasClass('fa-eject-out')) {
                $(".clickon span").css("left", "-694px");
                $(".clickon i").removeClass('fa-eject-out').addClass('fa-go-in');
            }
            else {
                $(".clickon span").css("left", "-52px");
                $(".clickon i").removeClass('fa-go-in').addClass('fa-eject-out');
            }
        });

        $(".progressComplete").click(function () {
            $(".progressComplete").hide();
        });
        $('#myModal').on('hidden.bs.modal', function () {
            $('#lblError').hide();
        })
    });

    </script>

</body>
</html>